@font-face {
  font-family: 'Telugu';
  src: url('/assets/KohinoorTelugu-Medium.ttf');
}
body {
  margin-bottom: 140px;
  background:#000;
  font-family:  'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}