<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>.ALL.Ulysses_Public_Filter</string>
		<string>.langue.Ulysses_Public_Filter</string>
		<string>.corps.Ulysses_Public_Filter</string>
		<string>.chose.Ulysses_Public_Filter</string>
		<string>.position.Ulysses_Public_Filter</string>
		<string>.verbe.Ulysses_Public_Filter</string>
		<string>.adjectif.Ulysses_Public_Filter</string>
		<string>.préfixe.Ulysses_Public_Filter</string>
		<string>.suffixe.Ulysses_Public_Filter</string>
		<string>.todo.Ulysses_Public_Filter</string>
		<string>.chant.Ulysses_Public_Filter</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>.ALL.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>531331292.09364003</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>3</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>.adjectif.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.88119</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>.chant.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.94889998</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>.chose.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.83310902</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>.corps.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.80519903</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>.langue.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.810054</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>.position.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.85919702</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>.préfixe.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.90506601</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>.suffixe.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.90100503</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>.todo.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.92818999</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>.verbe.Ulysses_Public_Filter</key>
			<dict>
				<key>lastModification</key>
				<real>519077071.85487598</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Ahi.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.487997</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>Elem.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.37569201</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>Elir.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.500462</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>Kegais.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.47321397</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>adjectifs multiples.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.30189198</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>110</integer>
				</dict>
			</dict>
			<key>ay, at.md</key>
			<dict>
				<key>lastModification</key>
				<real>519392921.22984397</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>24</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>baj.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.33780003</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>bo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.60154098</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>92</integer>
				</dict>
			</dict>
			<key>co i.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.38351202</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>co.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.37899399</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>complications.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.518556</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>corao.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.80067003</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>djil.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.31395698</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>do.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.01312703</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>don.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.79540002</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>104</integer>
				</dict>
			</dict>
			<key>du.md</key>
			<dict>
				<key>lastModification</key>
				<real>519504265.83842599</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>54</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>dur.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.095043</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>46</integer>
				</dict>
			</dict>
			<key>e.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.500157</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>em.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.96834302</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>44</integer>
				</dict>
			</dict>
			<key>es.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.63782501</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>exemples niveau I.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.55667502</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>exemples niveau II.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.73323399</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>exemples niveau III.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.83127803</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>fa.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.642928</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>fe.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.42535698</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>88</integer>
				</dict>
			</dict>
			<key>fehafoda.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.04584998</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>106</integer>
				</dict>
			</dict>
			<key>fei.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.88751799</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>105</integer>
				</dict>
			</dict>
			<key>femoon.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.06243902</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>107</integer>
				</dict>
			</dict>
			<key>fen.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.93340701</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>feo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.51841301</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>113</integer>
				</dict>
			</dict>
			<key>feoda.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.77842098</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>68</integer>
				</dict>
			</dict>
			<key>fo gais.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.64089602</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>fo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.75134802</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>56</integer>
				</dict>
			</dict>
			<key>gadur.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.63719702</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>gafo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.70956802</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>gais.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.91383201</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>gayon, gatar.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.63207501</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>go.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.59759998</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>91</integer>
				</dict>
			</dict>
			<key>gol.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.19686198</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>109</integer>
				</dict>
			</dict>
			<key>grammaire.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.85806</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>hafmoon.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.44687301</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>hem.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.39462799</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>if.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.85889798</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>il.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.85152799</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>im.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077077.19877303</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>intentions.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.706626</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>io.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.41102201</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>111</integer>
				</dict>
			</dict>
			<key>kat.md</key>
			<dict>
				<key>lastModification</key>
				<real>519397443.18100899</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>45</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>ke.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077077.18977302</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>kebaj.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077077.32179302</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>keli.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077077.36177897</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>76</integer>
				</dict>
			</dict>
			<key>keoda.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077077.48998898</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>keyon.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.969899</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>kiss.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.22063297</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>62</integer>
				</dict>
			</dict>
			<key>la.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077077.67900401</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>lapa.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.75755501</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>lem.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.00615501</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>les.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.25477701</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>lesoda.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.38219398</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>li.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077077.81444103</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>lil.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.17848903</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>108</integer>
				</dict>
			</dict>
			<key>lipa.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.79055202</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>42</integer>
				</dict>
			</dict>
			<key>lir.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.20041698</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>lo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519395776.19224799</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>41</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>loi.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.469868</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>melo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519337908.84874499</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>18</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>menu.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.06529403</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>meu.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.98575097</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>mo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.15313101</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>84</integer>
				</dict>
			</dict>
			<key>mu.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.65755302</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>ne.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.33604503</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>nei.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.95909297</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>neo.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.63558799</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>54</integer>
				</dict>
			</dict>
			<key>neora.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.86345202</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>no - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.849976</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>94</integer>
				</dict>
			</dict>
			<key>no.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.51121098</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>o.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.96518499</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>96</integer>
				</dict>
			</dict>
			<key>oco.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.46094298</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>od.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077078.521815</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>90</integer>
				</dict>
			</dict>
			<key>oda.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.09574097</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>odu.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.11510497</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>oi.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.41690803</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>112</integer>
				</dict>
			</dict>
			<key>om.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.164078</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>omgatar rao yinom.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.305076</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>omgatar.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.23616898</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>omgayun.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.24102598</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>ora.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.384942</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>orais.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077072.95711201</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>pa.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.59608102</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>peu.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077074.13055497</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>rao.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077080.694754</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>rim.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.11771899</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>sat.md</key>
			<dict>
				<key>lastModification</key>
				<real>519395733.13629597</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>37</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>sec - neloi.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.33454001</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>sen.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.66185403</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>sente.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.80941403</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>taroda, toda, to.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.03687102</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>toda.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.55445302</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>tole.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.19255799</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>u.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.54934901</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>ud.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.55909997</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>we.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.694341</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>yin.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077075.86891502</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>yoda.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077079.69124001</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>102</integer>
				</dict>
			</dict>
			<key>yon.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077076.06677002</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>yunoda, yuda, yu.md</key>
			<dict>
				<key>lastModification</key>
				<real>519077073.16172898</real>
				<key>version</key>
				<dict>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>z dom.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332658.49752402</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>62</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>z haf.md</key>
			<dict>
				<key>lastModification</key>
				<real>531391472.35460001</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>72</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>z i.md</key>
			<dict>
				<key>lastModification</key>
				<real>531388338.08587301</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>70</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>z kepal.md</key>
			<dict>
				<key>lastModification</key>
				<real>531392327.90081298</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>74</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>z ma.md</key>
			<dict>
				<key>lastModification</key>
				<real>531385649.11722201</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>66</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>z mi.md</key>
			<dict>
				<key>lastModification</key>
				<real>531388109.59576398</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>68</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>z moon.md</key>
			<dict>
				<key>lastModification</key>
				<real>531331408.836505</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>60</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>z tar.md</key>
			<dict>
				<key>lastModification</key>
				<real>531332676.39444</real>
				<key>version</key>
				<dict>
					<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
					<integer>64</integer>
					<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
					<integer>114</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>519079573.935175</real>
		<key>userIconName</key>
		<real>519076811.68386698</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>du.md</string>
		</array>
		<array>
			<string>kat.md</string>
		</array>
		<array>
			<string>lo.md</string>
		</array>
		<array>
			<string>sat.md</string>
		</array>
		<array>
			<string>melo.md</string>
		</array>
		<array>
			<string>z dom.md</string>
		</array>
		<array>
			<string>lem.md</string>
		</array>
		<array>
			<string>do.md</string>
		</array>
		<array>
			<string>om.md</string>
		</array>
		<array>
			<string>omgayun.md</string>
		</array>
		<array>
			<string>omgatar.md</string>
		</array>
		<array>
			<string>omgatar rao yinom.md</string>
		</array>
		<array>
			<string>co.md</string>
		</array>
		<array>
			<string>co i.md</string>
		</array>
		<array>
			<string>Kegais.md</string>
		</array>
		<array>
			<string>oco.md</string>
		</array>
		<array>
			<string>exemples niveau I.md</string>
		</array>
		<array>
			<string>fo gais.md</string>
		</array>
		<array>
			<string>gadur.md</string>
		</array>
		<array>
			<string>gafo.md</string>
		</array>
		<array>
			<string>exemples niveau II.md</string>
		</array>
		<array>
			<string>exemples niveau III.md</string>
		</array>
		<array>
			<string>corao.md</string>
		</array>
		<array>
			<string>if.md</string>
		</array>
		<array>
			<string>orais.md</string>
		</array>
		<array>
			<string>taroda, toda, to.md</string>
		</array>
		<array>
			<string>yunoda, yuda, yu.md</string>
		</array>
		<array>
			<string>lir.md</string>
		</array>
		<array>
			<string>Elem.md</string>
		</array>
		<array>
			<string>Elir.md</string>
		</array>
		<array>
			<string>complications.md</string>
		</array>
		<array>
			<string>sen.md</string>
		</array>
		<array>
			<string>sente.md</string>
		</array>
		<array>
			<string>il.md</string>
		</array>
		<array>
			<string>ay, at.md</string>
		</array>
		<array>
			<string>nei.md</string>
		</array>
		<array>
			<string>peu.md</string>
		</array>
		<array>
			<string>odu.md</string>
		</array>
		<array>
			<string>les.md</string>
		</array>
		<array>
			<string>hem.md</string>
		</array>
		<array>
			<string>lesoda.md</string>
		</array>
		<array>
			<string>Ahi.md</string>
		</array>
		<array>
			<string>gayon, gatar.md</string>
		</array>
		<array>
			<string>pa.md</string>
		</array>
		<array>
			<string>lipa.md</string>
		</array>
		<array>
			<string>lapa.md</string>
		</array>
		<array>
			<string>neora.md</string>
		</array>
		<array>
			<string>meu.md</string>
		</array>
		<array>
			<string>em.md</string>
		</array>
		<array>
			<string>dur.md</string>
		</array>
		<array>
			<string>rim.md</string>
		</array>
		<array>
			<string>sec - neloi.md</string>
			<string>loi.md</string>
		</array>
		<array>
			<string>hafmoon.md</string>
		</array>
		<array>
			<string>u.md</string>
		</array>
		<array>
			<string>mu.md</string>
		</array>
		<array>
			<string>neo.md</string>
		</array>
		<array>
			<string>fo.md</string>
		</array>
		<array>
			<string>z tar.md</string>
		</array>
		<array>
			<string>yin.md</string>
		</array>
		<array>
			<string>keyon.md</string>
		</array>
		<array>
			<string>yon.md</string>
		</array>
		<array>
			<string>tole.md</string>
		</array>
		<array>
			<string>kiss.md</string>
		</array>
		<array>
			<string>baj.md</string>
		</array>
		<array>
			<string>djil.md</string>
		</array>
		<array>
			<string>e.md</string>
		</array>
		<array>
			<string>es.md</string>
		</array>
		<array>
			<string>fa.md</string>
		</array>
		<array>
			<string>feoda.md</string>
		</array>
		<array>
			<string>gais.md</string>
		</array>
		<array>
			<string>fen.md</string>
		</array>
		<array>
			<string>z haf.md</string>
		</array>
		<array>
			<string>z i.md</string>
		</array>
		<array>
			<string>im.md</string>
		</array>
		<array>
			<string>ke.md</string>
		</array>
		<array>
			<string>kebaj.md</string>
		</array>
		<array>
			<string>keli.md</string>
		</array>
		<array>
			<string>keoda.md</string>
		</array>
		<array>
			<string>z kepal.md</string>
		</array>
		<array>
			<string>la.md</string>
		</array>
		<array>
			<string>li.md</string>
		</array>
		<array>
			<string>z ma.md</string>
		</array>
		<array>
			<string>menu.md</string>
		</array>
		<array>
			<string>z mi.md</string>
		</array>
		<array>
			<string>mo.md</string>
		</array>
		<array>
			<string>z moon.md</string>
		</array>
		<array>
			<string>ne.md</string>
		</array>
		<array>
			<string>fe.md</string>
		</array>
		<array>
			<string>no.md</string>
		</array>
		<array>
			<string>od.md</string>
		</array>
		<array>
			<string>bo.md</string>
		</array>
		<array>
			<string>go.md</string>
		</array>
		<array>
			<string>grammaire.md</string>
		</array>
		<array>
			<string>intentions.md</string>
		</array>
		<array>
			<string>no - 2.md</string>
		</array>
		<array>
			<string>o.md</string>
		</array>
		<array>
			<string>oda.md</string>
		</array>
		<array>
			<string>ora.md</string>
		</array>
		<array>
			<string>toda.md</string>
		</array>
		<array>
			<string>ud.md</string>
		</array>
		<array>
			<string>we.md</string>
		</array>
		<array>
			<string>yoda.md</string>
		</array>
		<array>
			<string>don.md</string>
		</array>
		<array>
			<string>fei.md</string>
		</array>
		<array>
			<string>fehafoda.md</string>
		</array>
		<array>
			<string>femoon.md</string>
		</array>
		<array>
			<string>gol.md</string>
		</array>
		<array>
			<string>lil.md</string>
		</array>
		<array>
			<string>adjectifs multiples.md</string>
		</array>
		<array>
			<string>oi.md</string>
		</array>
		<array>
			<string>io.md</string>
		</array>
		<array>
			<string>feo.md</string>
		</array>
		<array>
			<string>rao.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Pen</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
			<integer>3</integer>
			<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
			<integer>11</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
			<integer>75</integer>
			<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
			<integer>114</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>051a1b6ab7aac39737562116c206fc170bf529ca5064afa82bee8b0702b78f6c</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>1F4BBC39-60DF-4E8B-8BB5-1374902F9A6B</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
